* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #a8dadc;
}

.calendar {
    width: 500px;
    height: 400px;
    border-radius: 8px;
    background-color: #e4e8e8;
}

.calendar_top_section {
    padding: 20px 4px;
    line-height: 1.5;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #1d3557;
}

.calendar_top_section h1 {
    text-transform: uppercase;
}

.calendar_bottom_section {
    display: flex;
    padding: 10px;
    font-size: 18px;
    flex-direction: column;
    background-color: #192536;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.week_days_name {
    padding: 4px;
    display: flex;
    color: #dde8e8;
    align-items: center;
    justify-content: space-around;
}

.days_name {
    padding: 4px 12px;
}

.week_days {
    gap: 15px;
    height: 300px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.days {
    /* height: 40px; */
    /* width: 50px; */
    display: flex;
    text-align: center;
    cursor: pointer;
    /* padding: 14px 20px; */
    color: white;
    align-items: center;
    background-color: red;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-between;
    justify-content: center;
    transition: all 0.1s ease-in;
}

.today {
    background-color: #5b697c;
}

.week_days div:hover {
    border: 1px solid #a8dadc;
    background-color: #2d3643;
}

.empty {
    width: 30px;
}
.week_days div:hover:not(.empty) {
    cursor: pointer;
    border: 1px solid #a8dadc;
    background-color: #2d3643;
}