* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    color: white;
    min-height: 100vh;
    justify-content: center;
    padding-top: 50px; 
    background-color: #e0e1dd;
}

.calendar {
    width: 500px;
    border-radius: 8px;
}

.calendar_top_section {
    padding: 20px;
    line-height: 1.5;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #1b263b;
    color: #e0e1dd;
}

.calendar_top_section h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 8px;
}

.calendar_top_section span {
    display: inline-block;
    margin: 0 6px;
    font-weight: 500;
}

.calendar_bottom_section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #415a77;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.week_days_name {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    /* padding-bottom: 8px; */
    font-weight: bold;
    color: #e0e1dd;
}

.days_name {
    width: 40px;
    text-align: center;
}

.week_days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* background-color: orange; */
    /* justify-content: flex-start; */
    gap: 20px;
    min-height: 250px;
}

.week_days div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    color: #e0e1dd;
    background-color: #527a95;
}

.week_days div:hover:not(.empty) {
    background-color: #2d3643;
}

.today {
    background-color: #ff7f50;
    font-weight: bold;
}

.empty {
    width: 40px;
    height: 40px;
    background-color: transparent;
}
